<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite all urls to index">
                    <match url=".*\.html|css/|img/|js/|data/|lib/|templates/|favicon.ico" negate="true" />
                    <action type="Rewrite" url="app/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
